extends baseEmail 

block content
  p Hi #{name}
  p  To reset your password, click on this link: #{url}.
  p (Website for this action not yet implemented.)
  a.btn(href=`${url}`) Reset your password 
  p If you did not request any password resets, then ignore this email.`;