$main-color: #4d727e;
$btn-color: #55c57a;
$grey-color: #eeeeee;
$box-shadow-form: rgb(0 0 0 / 10%) 0px 20px 25px -5px,
  rgb(0 0 0 / 4%) 0px 10px 10px -5px;
$box-shadow-card: rgb(17 17 26 / 5%) 0px 4px 16px,
  rgb(17 17 26 / 5%) 0px 8px 32px;
$border-radius-card: 0.7rem;
$border-radius-imgcard: 0.5rem;
$border-radius-banner: 2rem;
$size-heading: 38px;
$size-sub: 18px;
$mobile-width: 600px;
$tablet-width: 1024px;
$padding-section: 80px 0;
$padding-subsection: 60px 0;

$font-family: "Source Sans Pro", sans-serif;
